<div class="container">
  <app-workout-form
    [ngClass]="{ disabled: workoutInProgress }"
    (workoutFormEmitter)="startWorkout($event)"
  ></app-workout-form>

  <div class="chord-container" *ngIf="workoutInProgress">
    <h1 class="mat-display-2">{{ timeLeft | date: 'm:ss':'UTC' }}</h1>
    <h1 class="mat-display-4">{{ currentChord }}</h1>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="stopWorkout()"
    >
      Stop workout
    </button>
  </div>
</div>
